.custom-nav {
  background-color: black !important;
  margin-top: 30px;
}

.nav-tab-link {
  background-color: transparent !important;
}

.custom-work-logo {
  font-weight: bold;
  letter-spacing: 5px;
}

.nav-underline {
  border-bottom: 2px solid #eeecec !important;
  margin-top: 30px;
}

.pr-0 {
  padding-right: 0px !important;
}

.asset-2 {
  height: 84px;
  width: 266px;
  position: absolute;
  top: -3px;
  right: 0px;
}