.asset-1 {
  height: 21.25rem;
  width: 8rem;
  position: absolute;
  right: 0px;
}

.asset-3 {
  height: 284px;
  width: 416px;
  position: absolute;
  left: 0px;
}

@media only screen and (max-width: 600px) {
  .asset-sm {
    display: none;
  }
}
