@import "./components/work_header/Work_Header.scss";
@import "./components/work_index/Work_Index.scss";
@import "./components/work_item/Work_Item.scss";
@import "./components/preloader/Preloader.scss";
@import "./components/work_footer/Work_Footer.scss";

body {
  background-color: #000 !important;
  color: #eeecec !important;
  font-family: "Roboto", sans-serif;
}

.mb-0 {
  margin-bottom: 0px !important;
}
